@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
  margin-top: -70px;
  padding: 2rem 0rem;
  box-sizing: border-box;
}

.links-container {
  padding-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.linkinbio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../components/Images/january-studio-portfolio.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid black 1px;
  padding: 1.5rem;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  padding-top: 70%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.start-button,
.linkinbio-button,
.visit-button {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  padding: 0.75em 1.75em;
  margin: 0.5rem 0;
  border-radius: 0;
  width: 180px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  background-color: black;
  color: white;
}

.linkinbio-button {
  color: black;
  background: white;
}

.visit-button {
  background-color: var(--color-dark-beige);
  color: black;
}
