:root {
  --color-black: #222;
  --color-white: #fff;
  --color-accent: black;
  --color-soft-beige: #fcf9f8;
  --color-dark-beige: #decdb9;
  --color-soft-grey: #f9f9fb;
  --color-dark-tan: #a88d86;
  --color-soft-brick: #f6ede9;
}
