.root {
  margin: 2rem 0;
  padding: 0;
  /* border: solid red; */
  /* max-width: 400px; */

  @nest & img {
    width: 100%;
    height: auto;
  }
}

.asset {
}
.caption {
  composes: small from '../typography.module.css';
  margin-top: 0.5rem;
}
