@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  display: flex;
  flex-direction: column;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  @media (--media-max-small) {
    font-size: 30px;
  }
}

.mainImage {
  position: relative;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: top;
    margin: auto;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;

  @media (--media-min-medium) {
    grid-template-columns: 1fr;
  }
}

.mainContent {
  max-width: 800px;

  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.metaContent {
  font-family: 'IBM Plex Sans';
  font-style: normal;
}

.publishedAt {
  font-family: 'IBM Plex Sans';
  composes: small from './typography.module.css';
  margin: 1.5rem 0 3rem;
}

.categories {
  font-family: 'DM Sans', sans-serif;

  border-top: 0px solid var(--color-black);
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0.25rem 0;
  }
}

.categoriesHeadline {
  font-family: 'DM Sans', sans-serif;

  composes: responsiveTitle4 from './typography.module.css';
  margin: 0.5rem 0 0;
}
