@import '../styles/media-queries.css';


.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #ffffff;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: none;
      
    }
  }
  @media (--media-max-small){
    font-size: 1rem;
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
    font-size: 1rem;
    display: none;    

  }

  @nest & strong {
    font-weight: 600;
  }
}
