@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  z-index: 100;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  padding: 1em;
  display: flex;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.branding {
  font-size: inherit;
  font-family: 'DM Sans';
  margin: 0;
  flex: 1;
  color: black;
  display: flex;
  align-items: center;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        text-decoration: none;
        font-style: normal;
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  z-index: 1000;

  & svg {
    display: block;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;
  font-family: 'IBM Plex Sans';
  font-weight: 600;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      text-decoration: none;
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-soft-beige);
    height: 100vh;
    font-size: 2rem;

    left: 0;
    right: 0;
    top: 00;

    @nest & ul {
      padding: 4rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.nav-link {
  font-family: 'DM Sans', sans-serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  margin-left: 1em;
  text-decoration: none;
  font-style: normal;
  transition: all 1s ease;
}

.nav-link:hover {
  color: var(--color-dark-tan);
}

/* targetting the active link*/
[aria-current]:not([aria-current='false']) {
  font-weight: 500;
}

.showNav {
  display: block;
}
