@import '../styles/media-queries.css';
@import '../styles/vars.css';

.content {
  min-height: calc(100% - 73px - 152px);

  @media (--media-min-small) {
    min-height: calc(100% - 90px - 169px);
  }
}

.footer {
  font-family: 'IBM Plex Sans';
  background: var(--color-soft-beige);
}

.footerWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;

  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @nest & a {
    color: inherit;
  }
}
