@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  margin: 6rem 0 4rem;
}

.headline {
  composes: responsiveTitle2 from './typography.module.css';
  margin: 2rem 0;

  @nest & a {
    color: inherit;
    text-decoration: none;
  }
}

.project-item {
}

.project-item:nth-child(3n + 1) {
  @media (--media-min-medium) {
    grid-column: 1 / 3;
  }
}
.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @media (--media-min-small) {
    grid-template-columns: 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.browseMoreNav {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  composes: large from './typography.module.css';
  margin-top: 1rem;
  text-align: right;

  @nest & a {
    display: inline-block;
    padding: 0.5rem 0;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}
