@import '../styles/media-queries.css';
@import '../styles/vars.css';

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1200px;
  min-width: auto;
  padding: 3rem 1.5rem;
  margin: 0 auto;
  text-align: center;

  @media (--media-min-small) {
    padding: 7rem 2em;
  }
}

.testimonial-copy {
  composes: large from './typography.module.css';
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: justify;
  @media (--media-min-small) {
    text-align: center;
  }
}

.testimonial-heading {
  composes: responsiveTitle4 from './typography.module.css';
  margin: 0;
}
